@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

body{
    margin: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.880);
    font-family: 'Scheherazade New', serif;
}

